{%extends "core/layout.html"%}
{%load static%}
{%block content%}

  <main id="about">
    <h1 class="lg-heading">
      About
      <span class="text-warning">Me</span>
    </h1>
    <h2 class="sm-heading">
      Let me tell you a few things...
    </h2>
    <div class="about-info">
      <img src="{%static "dist/img/portrait.jpg"%}" alt="John Doe" class="bio-image">

      <div class="bio">
        <h3 class="text-warning">BIO</h3>
        <p>Mundia Pizo is a web developer and mobile app developer, He is also an artificial intelligence and data science engineer, He is an Electrical Electronics and telecommunications Engineer. Below are some of the skills he has and expertise </p>  
      </div>

      <div class="job job-1">
        <h3 class="mb-3">Full Stack Developer</h3>
        <p>I am a full stack web developer laveraging python django and flask in web development, as well as the front end technologies for UI.</p>
      </div>

      <div class="job job-2">
        <h3 class="mb-3">Front End Developer</h3>
        <i class="fab fa-html5 fa-4x text-primary"></i>
        <i class="fab fa-react fa-4x text-info"></i>
         <i class="fab fa-angular fa-4x text-danger"></i>
         <i class="fab fa-vuejs fa-4x text-info"></i>
        <p>I also develop responsive UI's using javascript, Html, CSS and React. Also learning angular and Vue for front end development </p>
      </div>

      <div class="job job-3">
        <h3 class="mb-3">Graphic Designer</h3>
        <i class="fab fa-photoshop-cc fa-4x text-info"></i>
        <p>Graphic design using Photoshop laveraging mobile app graphic design, web graphic design and logo design using photoshop.</p>
      </div>
    </div>
  </main>

 {%endblock content%}