{%extends "core/layout.html"%}
{%load static%}
{%block content%}

  <main id="about">
    <h1 class="lg-heading">
      About
      <span class="text-secondary">Me</span>
    </h1>
    <h2 class="sm-heading">
      Let me tell you a few things...
    </h2>
    <div class="about-info">
      <img src="{%static "dist/img/portrait.jpg"%}" alt="John Doe" class="bio-image">

      <div class="bio">
        <h3 class="text-secondary">BIO</h3>
        <p>Mundia Pizo is a web developer and mobile app developer, He is also an artificial intelligence and data science engineer, He is an Electrical Electronics and telecommunications Engineer. Below are some of the works done by me.</p>
      </div>

      <div class="job job-1">
        <h3>Django</h3>
        <h6>Full Stack Developer</h6>
        <p>I am a full stack web developer laveraging python django and flask in web development.</p>
      </div>

      <div class="job job-2">
        <h3>Javascript, React </h3>
        <h6>Front End Developer</h6>
        <p>I also develop responsive UI's using javascript, Html, CSS and React. Also learning angular and Vue for front end development </p>
      </div>

      <div class="job job-3">
        <h3>Photoshop</h3>
        <h6>Graphic Designer</h6>
        <p>Graphic design using Photoshop laveraging mobile app graphic design and web graphic design.</p>
      </div>
    </div>
  </main>

 {%endblock content%}