{%extends "core/layout.html"%}
{%load static%}
{%block content%}
<body>
  <main id="contact">
    <h1 class="lg-heading">
      Contact
      <span class="text-secondary">Me</span>
    </h1>
    <h2 class="sm-heading">
      This is how you can reach me...
    </h2>
    <div class="boxes">
      <div>
        <span class="text-secondary">Email: </span> mundiapizom@gmail.com
      </div>
      <div>
        <span class="text-secondary">Phone: </span> (+260) 975676504
      </div>
      <div>
        <span class="text-secondary">Address: </span> The University Of Zambia
      </div>
    </div>
  </main>

{%endblock content%}
