{%extends "core/layout.html"%}
{%load static%}
{%block content%}
<body>
  <main id="contact">
    <h1 class="lg-heading">
      Contact
      <span class="text-warning">Me</span>
    </h1>
    <div class="about-info">
    <img src="{%static "dist/img/portrait.jpg"%}" alt="John Doe" class="bio-image">
    <div class="bio col-md-8">
    <h3>
      For more details you can contact me on the following contacts. will be glad to hear from you and to work with you on that stunning project. Customer satisfaction is my esteem.
    </h3>
    </div>
    </div>
    <h2 class="sm-heading">
      This is how you can reach me...
    </h2>
    <div class="boxes">
      <div>
        <span class="text-warning">Email: </span> mundiapizos@gmail.com
      </div>
      <div>
        <span class="text-warning">Phone: </span> (+260) 975676504
      </div>
      <div>
        <span class="text-warning">Address: </span> The University Of Zambia P.O 32379 Lusaka Zambia, c/o Professor Mundia Muya.
      </div>
    </div>
  </main>

{%endblock content%}
