{%extends "core/layout.html"%}
{%load static%}
{%block content%}
<body id="bg-img">
  
  <main id="home">
    <h1 class="lg-heading">
      Mundia
      <span class="text-secondary">Pizo</span>
    </h1>
    <h2 class="lg-heading">
      UI/UX
      <span class="text-secondary">Designer</span>
    </h2>
    <div class="home-text-width">
    <h2 class="sm-heading">
     Full stack Web Developer,Artificial intelligence Programmer, Mobile app developer/Designer & Entrepreneur
    </h2>
     </div>
    <div class="icons space-icons">
      <a href="#!">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
  </main>
{%endblock content%}
