{%extends "core/layout.html"%}
{%load static%}
{%block content%}
  <main id="work">
    <h1 class="lg-heading">
      My
      <span class="text-warning">Work</span>
    </h1>
    <h2 class="sm-heading">
      Check out my works in different technologies...
    </h2>
    <div class="row">
      {%for object in object_list%}
         <div class="col-md-6">
           <div class="work-style">
             <div class="item">
                <h3 class="mb-3">{{object.title}}</h3>
                <a href="{{object.get_absolute_url}}">
                   <img src="{{object.image.url}}" alt="Project" class="project-images-on">
                </a>
                <a href="{{object.get_absolute_url}}" class="btn-light btn-style1">
                   <i class="fas fa-eye"></i> Project
                </a>
            </div>
          </div>
         </div>
      {%endfor%}
   </div>
  </main>

 {%endblock content%}
